@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #363636;
}

.container {
  display: flex;
  position: static;
}
header {
  display: flex;
  background-color: #181818;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid #0099cc;
}
.logo {
  margin: 1%;
  padding-left: 1%;
}

.logo > img {
  height: 60px;
}
.titulo_Pagina {
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 130%;
}

nav {
  width: 100%;
  background-color: #181818;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 130%;
  border-bottom: 3px solid #0099cc;
}
nav ul {
  width: 100%;
  list-style: none;
}

nav ul a {
  display: table-cell;
  text-align: center;
  height: 85px;
  width: 15%;
  color: rgb(255, 255, 255);
  transition: color 300ms;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
}

nav ul a li {
  padding-top: 26px;
}

a:hover {
  background-color: rgb(63, 139, 253);
}

/*Empieza el estilo del section*/

.section {
  width: 100%;
  background-color: #585656;
}
.section img {
  max-width: 100%;
  position: absolute;
}
.fotoUsuario {
  width: 45%;
}

.fotoUsuario img {
  position: relative;
  margin-top: 6%;
  margin-left: 16%;
  width: 32%;
  float: left;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.presentacion {
  border-radius: 30px;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%;
  margin-right: 6%;
  background-color: rgba(252, 252, 252, 0.616);
  width: 65%;
  position: relative;
  float: right;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.presentacion > p {
  
  font-family: 'Hind Madurai', sans-serif;
  font-size: 149%;
  color: rgb(0, 0, 0);
  text-align: justify;
  text-size-adjust: inherit;

}

/* dede aqui comienza el footer */
